<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<header></header>
<div class="main-wrap">
    <div class="people-wrap">
        <i class="fas fa-users fa-lg people-icon"></i>
        <span class="people-text">people</span>
    </div>
    <table id="app">
        <tr class="table-header">
            <th class="notitle"></th>
            <th class="caption">Ideas</th>
            <th class="caption">Following</th>
            <th class="caption">Followers</th>
        </tr>
        <tr v-for="user in users" class="table-line">
            <td class="user">
                <div class="img-wrap">
                    <img :src="user.img" class="user-img">
                </div>

                <div class="info-wrap">
                    <div class="user-info ">
                        <span class="user-name">{{user.name}}</span>

                        <i
                                v-if="user.addIcon"
                                @mouseover="showFollowBtn(user)"
                                class="fas fa-plus-circle"></i>

                        <button
                                v-if="user.followBtn"
                                @click="follow(user)"
                                @mouseout="showAdd(user)"
                                class="btn-follow">Follow</button>

                        <i
                                v-if="user.followedIcon"
                                @mouseover="showUnfollowBtn(user)"
                                class="fas fa-check-circle"></i>

                        <button v-if="user.unfollowBtn"
                                @click="showFollowBtn(user)"
                                @mouseout="follow(user)"
                                class="btn-unfollow">Unfollow</button>

                    </div>
                    <div class="user-rating">
                        <i class="fas fa-signal"></i>
                        <span class="rating">{{user.rating}}</span>
                    </div>
                </div>

            </td>
            <td class="statistic">{{user.ideas}}</td>
            <td class="statistic">{{user.following}}</td>
            <td class="statistic">{{user.followers}}</td>
        </tr>
    </table>
    <div class="more-wrap">
        <button class="btn-more">show more</button>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>
