/* colours

header #4B5151

fon #F7F9FA

table-main-border #C6C6C7

table-header #ECF0F3

table-1td #FBFBFB

names #2C76C7

follow #A4C574

border-between #FEFEFE
*/

body {
    margin: 0;
    padding: 0;
    background-color: #F7F9FA;
    font-family: Arial, sans-serif;
}

header {
    height: 40px;
    background-color: #4B5151;
}

.main-wrap {
    width: 1000px;
    margin: 0 auto;
}

.people-wrap {
    height: 45px;
    color: #4B5151;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 5px;
}

.people-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

table {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #C6C6C7;
    border-spacing: 0;
    border-bottom: 0;
}

th, td {
    border-bottom: 1px solid #DFDFDF;
}


tr:nth-child(even) {
    background-color: #FBFBFB;
}



.caption {
    width: 175px;
    color: #757576;
    text-align: right;
    padding-right: 30px;
}

.table-header {
    background-color: #ECF0F3;
    height: 40px;
}

.table-line {
    height: 60px;
    background-color: #FFFFFF;
}

.statistic {
    text-align: right;
    padding-right: 30px;
    font-weight: bold;
    color: #757576;
}

.user {
    padding: 5px 0 5px 10px;
}

.img-wrap {
    display: inline-block;
    float: left;
}

.user-img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid #FBFBFB;
}

.info-wrap {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin-left: 5px;
}

.user-info,
.user-rating {
    margin: 5px 0 5px 5px;
}

.user-name {
    color: #2C76C7;
    font-weight: bold;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.fa-plus-circle,
.fa-check-circle {
    cursor: pointer;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.fa-plus-circle {
    color: #B6B6B6;
}

.fa-check-circle {
    color: #A4C574;
}

.fa-signal {
    transform: scaleX(-1);
    color: #B6B6B6;
    vertical-align: text-top;
}

.rating {
    font-weight: bold;
    color: #4B5151;
    vertical-align: sub;
}

.btn-follow,
.btn-unfollow {
    border-radius: 40px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.btn-follow {
    background-color: #A4C574;
}

.btn-unfollow {
    background-color: #C56B6B;
}

.more-wrap {
    text-align: center;
}

.btn-more {
    height: 30px;
    width: 180px;
    text-transform: uppercase;
    background-color: #FFFFFF;
    font-weight: bold;
    color: #4B5151;
    font-size: 15px;
    border: 1px solid #C6C6C7;
    border-top: 1px dashed #C6C6C7;
    border-radius: 3px;
    margin-top: -1px;
    cursor: pointer;
}

